/* Hide app-level breadcrumb */
div.breadcrumb li:nth-child(2),
ul.breadcrumb li:nth-child(2) {
    display:none;
}

/* Space out help text list items */
.form-horizontal .control-group .help-inline ul li {
    margin-bottom: 5px;
}

/* Display Flatpicker Inputs as Editable */
.datetime-input.flatpickr-input[readonly] {
    background-color: #fff;
}
